@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 30px 30px;
  background-color: white;
  flex-wrap: wrap;
}

.navbar-left-side {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.vertical-line {
  height: 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.61);
  margin-inline: 10px;
}
.logo-blog {
  color: #373737;
  font-size: 25px;
  font-weight: 300;
}

.navbar-right-side {
  display: flex;
  align-items: center;
}

.otareo-options {
  display: flex;
  align-items: center;
  margin-inline: 10px;
  width: 245px;
  height: 49px;
  padding: 10px;
  justify-content: center;
}

.navbar-options-archive {
  display: flex;
  align-items: center;
  color: #373737;
  font-size: 22px;
  font-weight: 300;
  margin-right: 20px;
}
.navbar-options-archive > a {
  margin-left: 10px;
}
.navbar-options-store {
  display: flex;
  align-items: center;
  color: #373737;
  font-size: 22px;
  font-weight: 300;
}
.navbar-options-store > a {
  margin-left: 10px;
}
.navbar-button {
  border-radius: 23.5px;
  background: #184655;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  width: 223px;
  height: 49px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  border: none;
}
.burger-menu {
  display: none;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(45deg, #e6e1e2, #d9e6e9);
  margin: 30px;
  height: 742px;
  flex-wrap: wrap;
}
.hero-section > .hero-left > h1 {
  color: #184655;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 700;
}
.input-div {
  overflow: hidden;
  border-radius: 19px;
  background: #fff;
  display: flex;
  width: 546px;
  height: 78.93px;
  margin: 15px 0px;
}
.hero-tags {
  display: flex;
  width: 331px;
  justify-content: space-between;
  margin-top: 10px;
  color: #53748c;
  font-size: 21px;
  font-weight: 400;
}
.hero-input {
  flex: 2;
  padding-left: 20px;
  border: none;
  color: #727272;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 118%; /* 25.96px */
  outline: none;
}
.hero-button {
  flex: 1;
  border: none;
  border-radius: 0px 19px 19px 0px;
  background: #184655;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 118%; /* 25.96px */
  cursor: pointer;
}

.main-card {
  /* height: 500px; */
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 30px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-image: linear-gradient(to bottom, white, #e7fcef);
}
.main-card-image > img {
  width: 45vw;
  height: 90%;
  border-radius: 15px;
  margin-right: 30px;
}
.main-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.main-card-text > h1 {
  color: #404040;
  font-size: 42px;
  font-weight: 500;
}
.main-card-info {
  display: flex;
  justify-content: space-between;
  color: rgba(111, 110, 110, 0.84);
  font-size: 25px;
  font-weight: 500;
  align-items: center;
}
.main-card-description {
  color: #464343;
  font-size: 28px;
  font-weight: 400;
}

.second-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}
.card-image > img {
  width: 431.532px;
  height: 272.614px;
  border-radius: 20px;
}
.card {
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(
    146deg,
    rgba(249, 247, 247, 0.1) 0%,
    rgba(249, 247, 247, 0.4) 100%
  );
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
  width: 431.532px;
  height: 469px;
  margin: 20px;
}
.card-text {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.card-heading {
  color: #4a4848;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-info {
  display: flex;
  justify-content: space-between;
  color: rgba(111, 110, 110, 0.84);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-description {
  color: #464343;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}
.see-full {
  color: #213949;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: right;
}
.footer {
  border-radius: 30px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  height: 707px;
  background-image: url(./assets/Otareo\ blog\ frame\ 1.svg);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
  height: 707px;
  border-radius: 30px;
  background: linear-gradient(136deg, #f4f4f4, #d3eee9);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding-left: 150px;
  flex-wrap: wrap;
}
.footer-text-1 {
  color: #000;
  font-size: 40px;
  font-weight: 300;
}
.footer-text-2 {
  color: #000;
  font-size: 57px;
  font-weight: 500;
}
.footer-text-3 {
  color: #000;
  font-size: 40px;
  font-weight: 400;
}
.footer-text > button {
  width: 251px;
  height: 49px;
  border-radius: 23.5px;
  background: linear-gradient(122deg, #2c56aa 0%, #3bb08b 100%);
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  border: none;
  margin-top: 80px;
}

@media screen and (max-width: 1200px) {
  .main-card {
    flex-direction: column;
  }

  .main-card-image > img {
    width: 90%;
    margin-left: 5%;
  }
  .footer-image {
    width: 100%;
  }
  .footer-image > img {
    width: 90%;
  }
  .footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .input-div {
    width: 80vw;
  }
  .hero-input {
    width: 80%;
  }
  .hero-left {
    padding: 5%;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    margin: auto;
  }
}

@media screen and (max-width: 880px) {
  .burger-menu {
    display: block;
    font-size: 40px;
    margin-inline: 20px;
  }
  .otareo-options,
  .logo-blog,
  .vertical-line {
    display: none;
  }
}

@media screen and (max-width: 608px) {
  .navbar-button {
    display: none;
  }
  .hero-image > img {
    width: 80%;
    padding-left: 10%;
  }
}
